/* ## Vertical Rhythm
--------------------------------------------- */

@import "compass/typography/vertical_rhythm";

//* Some base sizes and debug info.
$debug: true !global;
$base-font-size: 20px !global;
$base-line-height: 14px !global;
$default-rhythm-border-width: 1px !global;
$rhythm-unit: "px" !global;

//* Some base blah blah blah.
html {
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	font-size: $base-font-size;
	@include adjust-leading-to(2);
}
body {
	font-size: 0.75rem;
	@include breakpoint($kenny) {
		font-size: 1rem;
	}
	//* If debug than draw some gradients.
	background-color: samovar-color("primary-white");
	@if ($debug) {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 5%, rgba(255, 255, 255, 1) 5%) !important;
		-webkit-background-size: 100% $base-line-height;
		background-size: 100% $base-line-height;
		background-position: left top;
		background-attachment: scroll !important;
	}
}

/* ## Font Stacks
--------------------------------------------- */

//* Define some font stacks.
$serif-font-stack: Georgia, serif !global;
$sans-font-stack: Verdana, sans-serif !global;

//* Apply sans stack.
body, input, select, textarea {
	font-family: $sans-font-stack;
	font-weight: 400;
}