/* ## Vertical Rhythm
--------------------------------------------- */

@import "compass/typography/vertical_rhythm";

$debug: false !global;
$base-font-size: 18px !global;
$base-line-height: 14px !global;
$default-rhythm-border-width: 1px !global;
$rhythm-unit: "px" !global;

html {
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	font-size: $base-font-size;
	@include adjust-leading-to(2);
}
body {
	@if ($debug) {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0.4) 5%) !important;
		-webkit-background-size: 100% $base-line-height;
		background-size: 100% $base-line-height;
		background-position: left top;
	}
}

/* ## Font Stack
--------------------------------------------- */

$serif-font-stack: Georgia, serif !global;
$sans-font-stack: "Proxima Nova", "Helvetica Neue", Helvetica, Verdana, sans-serif !global;

/* ## Some mixins
--------------------------------------------- */

@mixin samovar-padding($counter: 1) {
	padding-left: $base-line-height * $counter;
	padding-right: $base-line-height * $counter;
}