/* ### Scroll to Top Button */

.scroll-top-button {
	//* Basic styles.
	height: 40px;
	width: 40px;
	border: 3px solid;
	@include samovar-highlight("border");
	position: fixed;
	bottom: 2.5%; right: 2.5%;
	cursor: pointer;
	opacity: 1;
	@include single-transition(opacity, 0.2s, ease-in-out);
	&:hover {
		opacity: 0.7 !important;
		@include single-transition(opacity, 0.2s, ease-in-out);
	}
	//* The text arrow inside.
	&:before {
		content: "\f106";
		font-family: fontAwesome;
		font-weight: 700;
		font-size: 1.25rem;
		@include samovar-highlight("color");
		display: block;
		position: absolute;
		top: 50%; left: 50%;
		@include transform(translateX(-50%) translateY(-50%));
	}
}