/* ## Comments
--------------------------------------------- */

.entry-comments {
	
	p {
		@include margin-trailer();
	}
	
}

.comment-respond,
.entry-comments,
.entry-pings {
	
	@include rhythm-padding(3);
	@include samovar-padding(2);
	@include breakpoint($kyle) {
		@include margin-trailer(3);
	}
	background-color: samovar-color("secondary-white");
	
	h3 {
		margin-bottom: 0;
	}
	
}

li.comment {
	background-color: transparent;
	border-right: none;
}

.comment-content {
	
	clear: both;

	ul, ol, dl {
		@include margin-trailer();
	}

}

.comment-list li {
	
	@include rhythm-padding();
	
	li {
		padding-left: $base-line-height * 2;
		padding-bottom: 0;
	}

}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.form-allowed-tags {
	@include rhythm-padding();
}

.form-submit {
	
	margin-bottom: 0;
	
	input {
		margin-bottom: 0;
	}
	
}

/* ## Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: $base-line-height * 2;
}

.alignright .avatar {
	margin-left: $base-line-height * 2;
}

.comment .avatar {
	@include margin-trailer();
	margin-right: $base-line-height;
}