/* ## Site Navigation
--------------------------------------------- */

.genesis-nav-menu {
	
	clear: both;
	width: 100%;
	
	.menu-item {
		
		display: inline-block;
		text-align: left;
		
		&:hover > .sub-menu {
			left: auto;
			opacity: 1;
		}
		
	}
	
	a {
		
		display: block;
		@include rhythm-padding(1);
		@include samovar-padding(1);
		color: samovar-color("primary-black");
		
		&:hover {
			color: samovar-color("primary-highlight");
		}
		
	}
	
	.current-menu-item > a {
		color: samovar-color("primary-highlight");
	}
	
	.sub-menu {
		
		left: -9999px;
		opacity: 0;
		position: absolute;
		width: 200px;
		z-index: 99;
		border-top: 1px solid samovar-color("primary-gray");
		@include single-transition( opacity, 0.4s, ease-in-out );
		
		a {
			
			@include apply-side-rhythm-border(all, $lines: 1);
			@include padding-leader();
			@include samovar-padding();
			border-top: 0;
			position: relative;
			width: 200px;
			font-size: 0.75rem;
			border-color: samovar-color("primary-gray");
			background-color: samovar-color("secondary-white");
			
			&:hover {
				color: samovar-color("primary-highlight");
			}
			
		}
		
		.sub-menu {
			margin-top: - ($base-line-height * 4 + 1px);
			margin-left: 199px;
		}
		
	}
	
}

/* ## Responsive Trigger
--------------------------------------------- */

#trigger-overlay {
	display: inline-block;
	height: $base-line-height * 2.5;
	width: $base-line-height * 2.5;
	float: right;
	@include rhythm-margins(0.5);
	cursor: pointer;
	&:hover path {
		fill: samovar-color("primary-highlight");
	}
	@include breakpoint($kyle) {
		display: none;
	}
	.samovar-always-mobile-header & {
		display: inline-block;
		@include breakpoint($kyle) {
			@include rhythm-margins(1);
			height: $base-line-height * 3;
			width: $base-line-height * 3;
		}
	}
}

/* ## Mobile Overlay style
--------------------------------------------- */

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(samovar-color("primary-highlight"),.9);
	z-index: 110;
}

/* ## Mobile Overlay closing cross
--------------------------------------------- */

.overlay .overlay-close {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 70px;
	right: 20px;
	cursor: pointer;
	z-index: 10000;
	&:hover path {
		fill: samovar-color("primary-black");
	}
}

/* ## Mobile Overlay Menu style
--------------------------------------------- */

@import "compass/css3/transform";

.overlay {
	
	nav {
		
		overflow-y: scroll;
		position: relative;
		height: 70%;
		top: 50%;
		@include transform(translateY(-50%));
		font-size: 1.875rem;
		@include adjust-leading-to(3);
		font-weight: 700;
		text-align: center;
		
		@include breakpoint($kyle) {
			top: 30%;
		}
		
		> ul > li {
			@include margin-trailer();
		}
	
	}
	
	ul {
		
		display: inline-block;
		position: relative;
		padding: 0;
		margin: 20% auto;
		list-style: none;
		
		li {
			
			display: block;
			
			.sub-menu {
				margin: 0;
				font-size: 1rem;
				@include adjust-leading-to(2);
			}
			
			a {
				
				display: block;
				color: samovar-color("primary-white");
				
				&:hover, &:focus {
					color: samovar-color("primary-black");
				}
				
			}
			
		}
		
	}
	
}

/* ## Mobile Overlay effects
--------------------------------------------- */

.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	@include transition(opacity 0.5s, visibility 0s 0.5s);
	nav {
		@include perspective(1200px);
		ul {
			opacity: 0.4;
			@include transform(translateY(-25%), rotateX(35deg));
			@include transition(transform 0.5s, opacity 0.5s);
		}
	}
	&.open {
		opacity: 1;
		visibility: visible;
		@include single-transition(opacity, 0.5s);
		nav ul {
			opacity: 1;
			@include transform(rotateX(0deg));
		}
	}
	&.close nav ul {
		@include transform(translateY(25%), rotateX(-35deg));
	}
}

/* ## Header Search Icon
--------------------------------------------- */

.samovar-header-search {
	@include rhythm-margins(1.5);
	margin-right: $base-line-height * 2;
	float: right;
	font-size: 1rem;
	@include adjust-leading-to(2);
	cursor: pointer;
	&:hover {
		color: samovar-color("primary-highlight");
	}
}
