/* ## Pagination
--------------------------------------------- */

.pagination {
	
	text-align: center;
	
	clear: both;
	@include margin-leader(3);
	@include margin-trailer();
	@include breakpoint($kyle) {
		@include margin-trailer(3);
	}
	
	li {
		
		display: none;
		@include breakpoint($kyle) {
			display: inline;
		}
		
		a {
			background-color: samovar-color("primary-black");
			color: samovar-color("primary-white");
			cursor: pointer;
			display: inline;
			@include rhythm-padding(1);
			@include samovar-padding(1);
			margin-bottom: 0;
		}
	
	}
	
	.pagination-omission {
		margin-right: $base-line-height * 0.25;
	}

}

.pagination-previous, .pagination-next {
	
	@include margin-trailer(2);
	display: block !important;
	@include breakpoint($kyle) {
		margin-bottom: 0;
		display: inline !important;
	}
	width: 100%;
	
	a {
		display: block !important;
		width: 100%;
		padding: $base-line-height !important;
		@include breakpoint($kyle) {
			display: inline !important;
		}
		text-align: center;
		color: samovar-color("primary-white");
		background-color: samovar-color("primary-black");
		&:hover {
			background-color: samovar-color("primary-highlight");
		}
	}

}

.pagination li a:hover,
.pagination .active a {
	background-color: samovar-color("primary-highlight");
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}