/* ## Site Containers
--------------------------------------------- */

/* ### Inner container & wrappers */

.site-inner, .wrap {
	
	//* Basic width.
	margin: 0 auto;
	@include breakpoint($chef) {
		max-width: 1280px;
	}
	
	//* Width for boxed layout.
	body.samovar-boxed-layout & {
		@include breakpoint($chef) {
			max-width: 1350px;
		}
	}
	
}

.site-inner {
	
	//* Necessary evil. The most misterious shit in this whole stylesheet.
	@include padding-trailer();
	
	//* Basic width restrictions for inner container.
	@include breakpoint($kenny) {
		max-width: 95%;	
	}
	@include breakpoint($chef) {
		max-width: 1280px;
	}
	
	//* Width for full-width post layout.
	body.full-width-content & {
		@include breakpoint($kenny) {
			max-width: 900px;	
		}
	}
	
	//* Background, paddings and margins for boxed layout.
	body.samovar-boxed-layout & {
// 		background: url("images/boxed-container-bg.png");
		background: url("http://subtlepatterns.com/patterns/crossword.png");
		box-shadow: 0 0 5px rgba(0,0,0,0.1);
		//* Add margins and paddings for inner container.
		@include breakpoint($kenny) {
			@include rhythm-margins(3);
		}
		@include samovar-all-paddings();
		@include breakpoint($chef) {
			@include rhythm-padding(3);
			@include samovar-padding(3);
		}
	}
	
}

/* ## Content & Sidebar
--------------------------------------------- */

/* ### Content area (next to the sidebar) */

//* Right content is default somehow.
.content {
	float: right;
	width: 100%;
	@include breakpoint($kenny) {
		max-width: 65%;
	}
}

//* Left goes to the left.
body.content-sidebar .content {
	float: left;
}

//* Full-width is not floating.
body.full-width-content .content {
	float: none;
	max-width: 100%;
}

/* ### Sidebar */

//* Default sidebar is right.
.sidebar-primary {
	float: right;
	width: 100%;
	@include breakpoint($kenny) {
		max-width: 32%;
	}
}

//* Left goes to the left.
.sidebar-content .sidebar-primary {
	float: left;
}