/* ## Header Container
--------------------------------------------- */

/* ### Header itself */

.site-header {
	
	//* Some paddings and margins.
	@include samovar-all-paddings();
	@include samovar-trailer();
	
	//* Header Color Schemes.
	body.samovar-dark-header-color-scheme & {
		@include samovar-normalbox("dark");
		font-weight: 400;
		a {
			color: samovar-color("primary-white");
		}
		#menu-trigger-overlay path {
			fill: samovar-color("primary-white");
		}
		.sub-menu a {
			background-color: samovar-color("primary-black");
		}
	}
	body.samovar-light-header-color-scheme & {
		@include samovar-normalbox();
		a {
			color: samovar-color("primary-black");
		}
		#menu-trigger-overlay path {
			fill: samovar-color("primary-black");
		}
		.sub-menu a {
			background-color: samovar-color("primary-white")
		}
	}
	
}

/* ### Title Area */

.title-area {
	
	//* Left goes to the left.
	.samovar-left-header-menu & {
		float: left;
	}
	//* Right goes to the right.
	.samovar-right-header-menu & {
		float: right;
		text-align: right;
	}
	//* Make the logo responsive and remove headings.
	.site-logo {
		img {
			max-height: $base-line-height * 4;
			@include breakpoint($kyle) {
				max-height: $base-line-height * 5;
			}
		}
		& + .site-title {
			display: none;
			& + .site-description {
				display: none;
			}
		}
	}
	
	//* Da Title.
	.site-title {
		margin-bottom: 0;	
		font-size: 1.25rem;
		@include adjust-leading-to(2);
		@include breakpoint($kenny) {
			font-size: 1.575rem;
			@include adjust-leading-to(3);
		}
		font-weight: 400;
		a {
			@include samovar-highlight("color-hover");
		}
		a:hover {
			border: none;
		}
	}
	//* La Description.
	.site-description {
		margin-bottom: 0;
	}
	
}

@import "../modules/header/header-nav";
@import "../modules/header/header-sticky";
@import "../modules/header/header-progress";
@import "../modules/header/header-fullscreen";